<div class="app-articles-container">
    
    <div class="app-articles-header-container">
        <div class="app-articles-header-title">
            コメルコバナシ
        </div>
        <cite class="app-articles-header-cite">
            料理が楽しくなる特集をお届け
        </cite>
    </div>

    <div class="app-articles-content-container">
        <ng-container *ngFor="let article of articles">
            <p> {{this.article.description}} </p>
            <p> {{this.article.imageSrc}} </p>
            <p> {{this.article.link}} </p>
        </ng-container>
    </div>
    
</div>
