.app-articles-container{
    margin-top: 10px;
}

.app-articles-header-container{
    background-color: #EEEEEE;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.app-articles-header-title{
    font-weight: bold;
    font-size: 14px;
}

.app-articles-header-cite{
    font-size: 12px;
}

.app-articles-content-container{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 250px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
