.app-items-container{ 
    background-color: #EEEEEE;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.app-items-component-title{
    font-weight: bold;
    font-size: 14px;
}

.app-items-content-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 420px;
}

.app-items-more-container{
    background-color: white;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
