<footer class="app-footer-container">
    <mat-toolbar>
        <div class="app-footer-link-container">
            
            <div class="app-footer-link-box">
                <a href="/home">
                    <p class="app-footer-title">home</p>
                </a>
            </div>

            <div class="app-footer-link-box">
                <a href="/top">
                    <p class="app-footer-title">logout</p>
                </a>
            </div>
            
        </div>
  </mat-toolbar>
</footer>
