.app-categories-container{ 
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.app-categories-component-title{
    font-weight: bold;
    font-size: 14px;
}

.app-categories-content-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 420px;
}
